@media (max-width: 900px) {

    .prince {
        display: none;
    }

    .logo {
        display: inline;
    }

    .menu-btn {
        display: inline;
    }


    .navbar {
        display: none;
        height: 400px;
        padding-top: 80px;
        flex-direction: column;
        gap: 25px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }

    .bar {
        display: inline;
    }

    .active {
        display: flex;
    }

    .nav-items {
        flex-direction: column;
        gap: 20px;
    }

    .nav-item {
        width: 100%;
    }


    .hero-section {
        flex-direction: column-reverse;
        padding-top: 80px;
        align-items: center;


    }

    .hero-left {
        width: 80vw;
        height: 200px;
        border-top: 2px solid var(--color-2);
    }

    .hero-right {
        width: 80vw;
        border-radius: 50px 50px 0 0;
    }

    .grid {

        grid-template-columns: 1fr 1fr 1fr;
    }

    .projects {
        grid-template-columns: 1fr;
    }

    .project-image {
        width: 450px;
    }
}


/* Media query for smaller screens */
@media screen and (max-width: 768px) {

    .grid {

        grid-template-columns: 1fr 1fr;
    }

    .project-image {
        width: 350px;
    }

    .about-section img {
        width: 280px;
    }

}

/* Media query for even smaller screens */
@media screen and (max-width: 480px) {

    .grid {

        grid-template-columns: 1fr;
    }

    .project-image {
        width: 220px;
    }
}



/* Media query for even smaller screens */
@media screen and (min-width: 900px) {

    .hero-section {

        margin-top: 50px;
    }

}