* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --color-1: navy;
    --color-2: white;
    --color-3: black;
    --text-1: 1rem;
    --text-2: 2rem;
    --text-3: 3rem;
}

a {
    text-decoration: none;
}

.container {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: LightCyan;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

.container::-webkit-scrollbar {
    display: none;
}



.menu-btn {
    z-index: 999;
    position: absolute;
    top: 2%;
    right: 5%;
    font-size: var(--text-2);
    color: var(--color-1);
    cursor: pointer;
    display: none;
}

.logo {
    color: var(--color-2);
    letter-spacing: 2px;
    z-index: 999;
    position: absolute;
    top: 2%;
    left: 5%;
    font-size: var(--text-1);
    cursor: pointer;
    display: none;
    background-color: var(--color-1);
    padding: 5px;
}

.touch {
    z-index: 999;
    position: fixed;
    bottom: 2%;
    right: 5%;
    font-size: var(--text-1);
    color: var(--color-2);
    background-color: var(--color-1);
    padding: 12px;
    border-radius: 20px;
    cursor: pointer;
    border: 2px solid var(--color-2);
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: var(--color-1);
    height: 60px;
}



.prince {
    color: var(--color-2);
    font-size: var(--text-2);
    letter-spacing: 2px;
}

.nav-items {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    color: var(--color-2);
    font-size: var(--text-1);
    width: 22%;
    text-align: center;
    padding: 5px;
    transition: 0.2s;
    border: 1px solid var(--color-2);
    border-radius: 10px;
}

.nav-item:hover {
    background-color: var(--color-2);
    color: var(--color-1);
}

.cv {
    padding: 8px 15px;
    background-color: white;
    border-radius: 20px;
    color: var(--color-1);
}


.hero-section {
    height: calc(100vh - 60px);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}




.hero-left {
    height: 75%;
    width: 30%;
    background-color: var(--color-1);
    color: var(--color-2);
    border-radius: 0 0 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hero-left h2 {
    font-size: var(--text-2);
}

.btn {
    padding: 8px 15px;
    background-color: var(--color-2);
    border-radius: 10px;
}



.hero-right {
    height: 75%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 50px 50px;
    overflow: hidden;
}

.mypic {
    height: 100%;
    object-fit: cover;
}


.about-section {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    height: auto;
    width: 90%;
    padding-block: 50px;
    background-color: var(--color-1);
}

.about-section h2 {
    font-size: var(--text-2);
    color: var(--color-2);
}

.para {
    width: 80%;
    margin: 0 auto;
    text-align: justify;
    line-height: 24px;
    color: var(--color-2);
}