* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --color-1: navy;
    --color-2: white;
    --color-3: black;
    --text-1: 1rem;
    --text-2: 2rem;
    --text-3: 3rem;
}

.bar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    width: 100%;
    background-color: var(--color-1);
}

a {
    text-decoration: none;
}

.links {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-1);
    padding: 20px;
    width: 300px;
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    font-size: var(--text-2);
    border-radius: 20px;
    z-index: 555;
    display: none;
}

.open-close {
    display: grid;
}

.links a {
    color: var(--color-2);
    transition: 0.2s ease-in-out;
}

.links a:hover {
    scale: 1.2;
}




.container {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

.container::-webkit-scrollbar {
    display: none;
}



.menu-btn {
    z-index: 999;
    position: fixed;
    top: 2%;
    right: 5%;
    font-size: var(--text-2);
    color: var(--color-2);
    cursor: pointer;
    display: none;
}

.logo {
    color: var(--color-2);
    letter-spacing: 2px;
    z-index: 999;
    position: fixed;
    top: 2%;
    left: 5%;
    font-size: var(--text-1);
    cursor: pointer;
    display: none;
    background-color: var(--color-1);
    padding: 5px;
}

.touch {
    z-index: 999;
    position: fixed;
    bottom: 2%;
    right: 5%;
    font-size: var(--text-1);
    color: var(--color-2);
    background-color: var(--color-1);
    padding: 12px;
    border-radius: 20px;
    cursor: pointer;
    border: 2px solid var(--color-2);
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: var(--color-1);
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}



.prince {
    color: var(--color-2);
    font-size: var(--text-2);
    letter-spacing: 2px;
}

.nav-items {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    color: var(--color-2);
    font-size: var(--text-1);
    width: 18%;
    text-align: center;
    padding: 5px;
    transition: 0.2s;
    border: 1px solid var(--color-2);
    border-radius: 20px;
}

.nav-item:hover {
    background-color: var(--color-2);
    color: var(--color-1);
}

.cv {
    padding: 8px 15px;
    background-color: white;
    border-radius: 20px;
    color: var(--color-1);
}


.hero-section {
    height: 92%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}




.hero-left {
    height: 75%;
    width: 30%;
    background-color: var(--color-1);
    color: var(--color-2);
    border-radius: 0 0 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hero-left h2 {
    font-size: var(--text-2);
    text-transform: capitalize;
}


.mail {
    padding: 8px 16px;
    font-size: 18px;
    background-color: var(--color-2);
    border-radius: 10px;
    color: var(--color-1);
    width: 50%;
    text-align: center;
    font-weight: 700;
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
}

.mail::before {
    content: "✉️";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgb(0, 0, 0), navy);
    transition: left 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-2);
}

.mail:hover::before {
    left: 0;
}

.btn {
    padding: 8px 16px;
    font-size: 18px;
    background-color: var(--color-2);
    border-radius: 10px;
    color: var(--color-1);
    width: 50%;
    text-align: center;
    font-weight: 700;
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
}

.btn::before {
    content: "❤️";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgb(0, 0, 0), navy);
    transition: left 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-2);
}

.btn:hover::before {
    left: 0;
}


.hero-right {
    height: 75%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 50px 50px;
    overflow: hidden;
}

.mypic {
    height: 100%;
    object-fit: cover;
}


.about-section {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    height: auto;
    width: 80%;
    padding-block: 50px;
    border-radius: 20px;
    border: 1px solid var(--color-1);
}

.title {
    font-size: var(--text-2);
    font-weight: 700;
    color: var(--color-2);
    background-color: var(--color-1);
    padding: 10px;
    text-align: center;
    width: 220px;
}

.para {
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    line-height: 28px;
    color: var(--color-3);
}

.skills-section {
    height: auto;
    width: 80%;
    margin-top: 80px;
    padding-block: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border: 1px solid var(--color-1);
    border-radius: 10px;
}



.grid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: stretch;
    align-items: stretch;
    row-gap: 50px;
    padding-block: 40px;
}

.skill {
    height: 50px;
    width: 100px;
    border-radius: 10px;
    background-color: var(--color-1);
    color: var(--color-2);
    justify-self: center;
    align-self: center;
    transition: 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--text-1);
    font-weight: 700;
}


.skill:hover {
    scale: 1.2;
    z-index: 99;
}


.projects-section {
    height: auto;
    width: 80%;
    margin-top: 80px;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border: 1px solid var(--color-1);
    border-radius: 10px;
}

.projects {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
    align-items: stretch;
    gap: 50px;
    padding-block: 40px;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: var(--color-1);
    padding: 40px 10px;
    border-radius: 20px;
}

.project-title {
    font-size: var(--text-1);
    font-weight: 600;
    width: 100%;
    color: var(--color-2);
    background-color: var(--color-1);
    padding: 10px;
    text-align: center;
    width: 220px;
    border-bottom: 2px solid var(--color-2);
}

.project-image {
    width: 300px;
    aspect-ratio: 1/1;
    object-fit: cover;
    transition: 0.2s ease-in-out;
    border-radius: 20px;
}

.project-image:hover {
    transform: scale(1.1);
}


footer {
    margin-top: 60px;
    height: 200px;
    width: 100%;
    background-color: rgb(11, 11, 32);
    color: var(--color-2);
    padding: 50px;
    text-align: center;
}